body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    justify-content: center;
}

#title {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#canvas-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}