body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

#gridsize-window {
    display: none;
}

#gridsize-popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#gridsize-window-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    background-color: #F9FAF8;
    border-radius: 10px;
    z-index: 2;
    height: 100px;
    width: 200px;
}

#gridsize-window-label {
    font-size: 22px;
    font-weight: bold;
}

#grid-size {
    font-size: 16px;
    width: 90%;
}

#gridsize-window-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
}

#dark-translucent-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#website-content {
    display: flex;
    flex-direction: column;
}


#header {
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    justify-content: center;
}

#title {
    color: white;
    font-size: 32px;
    font-weight: bold;
}


#canvas-tools-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.canvas-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 25px;
}

.canvas-btn:hover {
    background-color: #23519b;
}

#info-btn {
    padding: 4px 6px;
}

#art-tools-div {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    gap: 5px;
}

.tool-btn {
    padding: 8px 15px;
    display: flex;
    gap: 5px;
}


#gridsize-window-close-div {
    display: flex;
    justify-content: end;
    margin: 0px;
    padding: 0px;
}

#gridsize-window-close {
    align-items: left;
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
}

#brush-color {
    border: none;
    padding: 0px;
    height: 40px;
    width: 40px;
}

#canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#canvas-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}